@model IEnumerable<MediRec.Models.Doctors>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Areas.AreaCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cities.CountryCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Countries.CountryCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameAr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialtyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TickerPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AboutDoctorShortDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AboutDoctorLongDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaitingTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SearchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreadtedDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Areas.AreaCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cities.CountryCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Countries.CountryCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoctorCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameAr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameEn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialtyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TickerPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AboutDoctorShortDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AboutDoctorLongDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisterDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WaitingTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SearchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreadtedDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDateTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DoctorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DoctorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DoctorId })
        </td>
    </tr>
}

</table>
