@model MediRec.Models.Contacts

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Contacts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfRelation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfRelation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber01)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber01)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber02)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber02)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContactId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
